<div class="form-wrapper">
  <div class="form-container">
    <h1>Hi Welcome Back</h1>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="input-group">
        <div class="form-field">
          <input id="email" formControlName="email" type="email" placeholder=" " required>
          <label for="email">Email</label>
          <div *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.touched || submitted)">
            <small *ngIf="loginForm.get('email')?.errors?.['required']">Email is required.</small>
            <small *ngIf="loginForm.get('email')?.errors?.['email']">Please enter a valid email.</small>
          </div>
        </div>

        <div class="form-field">
          <input id="password" formControlName="password" type="password" placeholder=" " required>
          <label for="password">Password</label>
          <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.touched || submitted)">
            <small *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</small>
          </div>
        </div>
      </div>
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
  
      <button type="submit">Submit</button>
      <span>Don't have an account? 
        <a routerLink="/signUp">Sign Up</a> &nbsp;|&nbsp;
        <a routerLink="/forgot-password">Forgot your password?</a>
      </span>
    </form>
  </div>
</div>
