<div class="update-password-container">
    <form [formGroup]="updatePasswordForm"  (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          [(ngModel)]="email"
          [attr.disabled]="true"
          class="form-control"
          required
        />
      </div>
  
      <div class="form-group">
        <label for="newPassword">New Password</label>
        <input
          type="password"
          id="newPassword"
          name="newPassword"
          [(ngModel)]="newPassword"
          class="form-control"
          required
        />
      </div>
  
      <button type="submit" class="btn btn-primary">Update Password</button>
    </form>
  </div>
  