<div class="forgot-password-wrapper">
    <div class="forgot-password-container">
      <h2>Forgot Password</h2>
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <div class="input-group">
          <div class="forgot-password-field">
            <input
              type="email"
              id="email"
              formControlName="email"
              placeholder=""
              required
            />
            <label for="email">Email</label>
            <div *ngIf="forgotPasswordForm.get('email')?.invalid && (forgotPasswordForm.get('email')?.touched || submitted)">
              <small class="error-message" *ngIf="forgotPasswordForm.get('email')?.errors?.['required']">Email is required.</small>
              <small class="error-message" *ngIf="forgotPasswordForm.get('email')?.errors?.['email']">Please enter a valid email.</small>
            </div>
          </div>
        </div>
        <div class="message" *ngIf="message">{{ message }}</div>
        <div class="error-message" *ngIf="errorMessage">{{ errorMessage }}</div>
        <button type="submit" [disabled]="!forgotPasswordForm.valid">Submit</button>
        <span> Already have an account?
          <a routerLink="/login">Login</a>
        </span>
      </form>
    </div>
  </div>
  